# These are the list of files / folders that Git should ignore 
node_modules
.env
.git
data-pull-local.js
test.html
dolores_local_key.json
UncleLeeBot.code-workspace
.gcloudignore
local_testing
app.yaml
deploy_cmds.txt
*.model